body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	background-color: #e6e6ff;
}

.texto {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.linha {
	display: inline;
	float: left;
	background-color: #49559f6e;
	width: 100%;
	margin-bottom: 3%;
	height: 15px;
	margin-top: 2%;
	z-index: 0;
}

.titulo {
	position: absolute;
}

h1 {
	font-size: 60px;
	color: #8670a2;
	margin-left: 176%;
	margin-top: 0%;
	text-shadow: white 1px 1px;
	width: 100%
}

p {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#aba1{
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 40px 40px 0px 0px;
	width: 200px;
	height: 50px;
}

#aba2 {
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 40px 40px 0px 0px;
	width: 200px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

#aba3 {
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 40px 40px 0px 0px;
	width: 200px;
	height: 50px;
}

.invisivel {
	display: none;
}

.botaoVerde {
	background-color: #69a74e !important;
}

.botaoBranco {
	background-color: white !important;
}

.centro {
	float: left;
	width: 60%;
	margin-right: 8%; 
}

.informacoes {
	float: left;
	background-color: white;
	margin-bottom: 0%;
	margin-right: 1%;
	margin-left: 8%;
	border: 1px solid #ccc!important;
	width: 20%;
	border-radius: 1%;
	padding: 1%;
	height: 450px;
}

.foto-perfil {
	width: 79%;
	border-radius: 50%;
	border: 1px solid #ccc!important;
	margin-left: 10%;
}

.botaoAmigos {
	background-color: white;
    border: 1px solid #ccc!important;
    width: 100%;
    border-radius: 1%;
    padding: 1%;
    height: 36px;
    font-size: 110%;
    background-color: #69a74e !important;
    color: white;
}

.meusPostsNoPerfil {
	float: left;
	width: 60%;
}

.escrever {
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 1%;
	padding: 2%;
}

.meusAmigos {
	width: 20%;
	float: left;
	background-color: white;
	margin-bottom: 0%;
	margin-right: 1%;
	margin-left: 8%;
	border: 1px solid #ccc!important;
	border-radius: 1%;
	padding: 1%;
	height: 450px;
}

.estiloCaixaMensagem {
	margin-top: 53%;
}

.caixaMensagem {
	padding: 8px 16px!important;
	border: 1px solid #ccc!important;
	margin-right: 10%;
	border-radius: 16px;
}

.caixaConversa {
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 1%;
	padding: 1%;
	margin-left: 0%;
	margin-right: 8%;
	float: left;
	width: 58%;
	height: 450px;
}

.postagem {
	background-color: white;
	margin-top: 2%;
	margin-bottom: 2%;
	border: 1px solid #ccc!important;
	position: relative;
	border-radius: 9px;
	padding: 1%;
}

.botaoPostar {
	width: 80px;
	background-color: #4c76a79c;
	color: white;
	font-size: 19px;
	border-radius: 20px;
	border: 1px solid #797979!important;
}

.localPublicaçoes {
	overflow: auto;
	height: 330px;
}

.botaoEnviar {
	width: 80px;
	background-color: #4c76a79c;
	color: white;
	font-size: 19px;
	border-radius: 20px;
	border: 1px solid #797979!important;
}

.caixaTexto {
	padding: 8px 16px!important;
	border: 1px solid #ccc!important;
	border-radius: 16px;
}

.postar {
	margin-left: 5px;
}

h4 {
	font-size: 25px;
}

.sugestaoAmigos {
	width: 20%;
	float: left;
	background-color: white;
	margin-bottom: 0%;
	margin-right: 1%;
	margin-left: 8%;
	border: 1px solid #ccc!important;
	border-radius: 1%;
	padding: 1%;
	overflow: auto;
    height: 450px;
}

.sair {
	margin-top: 30px;
}

#sair {
	margin-left: 25px;
	width: 60px;
	height: 30px;
	background-color: #69a74e;
	color: white;
	font-size: 19px;
	border-radius: 20px;
	border: 1px solid;
	border-color: #3b6e22 #3b5e22 #2c5115;
}

.container{
    width: 1000px;
    margin: auto;
}
