body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	background-color: #e6e6ff;
}

.texto1 {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.texto2 {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.linha {
	display: inline;
	float: left;
	background-color: #49559f6e;
	width: 100%;
	margin-bottom: 30px;
	height: 15px;
	margin-top: 30px;
	z-index: 0;
}

.titulo {
	position: absolute;
}

h1 {
	font-size: 60px;
	color: #8670a2;
	margin-left: 180%;
	margin-top: 3px;
	text-shadow: white 1px 1px;
}

p {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#aba1{
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 40px 40px 0px 0px;
	width: 200px;
	height: 50px;
}

#aba2 {
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 40px 40px 0px 0px;
	width: 200px;
	height: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

#aba3 {
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 40px 40px 0px 0px;
	width: 200px;
	height: 50px;
}

.invisivel {
	display: none;
}

.botaoVerde {
	background-color: #69a74e !important;
}

.botaoBranco {
	background-color: white !important;
}

.centro {
	float: left;
	width: 1003px;
	margin-right: 10px; 
}

.informacoes {
	float: left;
	background-color: white;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 15px;
	border: 1px solid #ccc!important;
	width: 21%;
	border-radius: 6px;
	padding: 10px;
	height: 500px;
}

.foto-perfil {
	width: 260px;
	height: 260px;
	border-radius: 50%;
	border: 1px solid #ccc!important;
	margin-left: 10px;
    float: left;
}

.meusPostsNoPerfil {
	float: left;
	width: 1003px;
	margin-right: 10px; 
}

.escrever1 {
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 6px;
	padding: 10px;
}

.caixaMensagem {
	padding: 8px 16px!important;
	border: 1px solid #ccc!important;
}

.caixaConversa {
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 6px;
	padding: 100px;
	margin-left: 336px;
	margin-right: 10px;
}

.escrever2 {
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 6px;
	padding: 10px;
}

.postagem {
	width: 673px;
	background-color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #ccc!important;
	position: relative;
	border-radius: 6px;
	padding: 10px;
}

.botaoPostar {
	width: 80px;
	background-color: #4c76a79c;
	color: white;
	font-size: 19px;
	border-radius: 20px;
	border: 1px solid #797979!important;
}

.caixaTexto1 {
	padding: 8px 16px!important;
	border: 1px solid #ccc!important;
}

.caixaTexto2 {
	padding: 8px 16px!important;
	border: 1px solid #ccc!important;
}

.postar {
	margin-left: 5px;
}

h2 {
	font-size: 25px;
}

.sugestaoAmigos {
	width: 21%;
	float: left;
	background-color: white;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 15px;
	border: 1px solid #ccc!important;
	border-radius: 6px;
	padding: 10px;
}

.sair {
	margin-top: 30px;
}

#sair {
	margin-left: 25px;
	width: 60px;
	height: 30px;
	background-color: #69a74e;
	color: white;
	font-size: 19px;
	border-radius: 20px;
	border: 1px solid;
	border-color: #3b6e22 #3b5e22 #2c5115;
}

.container{
    width: 1000px;
    margin: auto;
}
