body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0px;
	background-color: #e6e6ff;
}

.texto {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

.titulo-principal {
	display: inline;
	float: left;
	background-color: #49649f;
	width: 100%;
	margin-bottom: 20px;
}

h1 {
	font-size: 36px;
	color: white;
}

.informacoes {
	float: left;
	background-color: white;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 7px;
	border: 1px solid #ccc!important;
	width: 21%;
	border-radius: 6px;
	padding: 10px;
}

.centro {
	float: left;
}

.escrever {
	width: 673px;
	background-color: white;
	border: 1px solid #ccc!important;
	border-radius: 6px;
	padding: 10px;
}

.postagem {
	width: 673px;
	background-color: white;
	margin-top: 15px;
	border: 1px solid #ccc!important;
	position: absolute;
	border-radius: 6px;
	padding: 10px;
}

.caixaTexto {
	padding: 8px 16px!important;
	border: 1px solid #ccc!important;
}

.postar {
	margin-left: 5px;
}

h2 {
	margin: 0px;
	margin-right: 20px;
}

.sugestaoAmigos {
	width: 21%;
	float: right;
	background-color: white;
	margin-bottom: 20px;
	margin-right: 6px;
	margin-left: 15px;
	border: 1px solid #ccc!important;
	border-radius: 6px;
	padding: 10px;
}

.sair {
	margin-top: 30px;
}

.container{
    width: 1000px;
    margin: auto;
}
